* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
button {
  background-color: transparent;
  border: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(231, 205, 187);
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.setting-time-wrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}
#break-label {
  font-size: 20px;
}
.break-display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#break-length {
  font-size: 25px;
}
#session-label {
  font-size: 20px;
}
.session-display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#session-length {
  font-size: 25px;
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
}
#timer-label {
  margin-bottom: 5px;
}
.times-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.creator {
  margin-top: 40px;
}

